.row
  %br <br>
  .center.hero-unit
    %h1=t 'homepage.welcome'
    %h2
    =t 'homepage.introduction'
    %a{:href => "https://github.com/maxcobmara/etain"}=t 'homepage.sample'
    %br
    - if user_signed_in?
      .small
        - matching_company=Company.where(email: current_user.email)
        - matching_customer=Customer.where(email: current_user.email, corporate: true)
        
        - if matching_company.count > 0
          - if current_user.company_id?
            = current_user.email 
            =t 'homepage.is_the'
            %b=t 'homepage.company_administrator'
            =t('helpers.for')+" : "
            = current_user.employer.name
          - else
            =t 'homepage.login_email'
            %strong= current_user.email 
            =t 'homepage.match_company_admin'
            %strong=matching_company.first.name
            %br 
            =t 'helpers.click'
            = link_to t('helpers.here'), match_user_path(current_user)
            =t 'homepage.to_link_company'
        
        - else
          /set @user.company of matching email for corporate customers only
          - if matching_customer.count > 0
            - if current_user.company_id?
            - else
              =t 'homepage.login_email'
              %strong= current_user.email 
              =t 'homepage.match_company_employer'
              %strong=matching_customer.first.clientcompany.name
              %br 
              =t 'helpers.click'
              = link_to t('helpers.here'), match_user_path(current_user)
              =t 'homepage.to_link_company'
          
    - else
      = link_to t('homepage.sign_up'), new_user_registration_path, class: "btn btn-primary"

    
  = link_to image_tag("powered_by_rails.png", alt: "Rails"), 'http://rubyonrails.org/'












