.container{:style => "padding-left: 60px;"}
  = form_for @booking, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    .control-group
      = f.label :code, :class => 'control-label'
      .controls= f.text_field :code, :class => 'text_field '

    .control-group
      = f.label :schedule_id, :class => 'control-label'
      .controls= f.number_field :schedule_id, :class => 'text_field '
    .control-group
      = f.label :customer_id, :class => 'control-label'
      .controls= f.number_field :customer_id, :class => 'text_field '
    .control-group
      = f.label :payment_id, :class => 'control-label'
      .controls= f.number_field :payment_id, :class => 'text_field '
    .control-group
      = f.label :warranty_id, :class => 'control-label'
      .controls= f.number_field :warranty_id, :class => 'text_field '
    .control-group
      = f.label :status, :class => 'control-label'
      .controls= f.text_field :status, :class => 'text_field '
    .control-group
      = f.label :user_id, :class => 'control-label'
      .controls= f.number_field :user_id, :class => 'text_field '
    .control-group
      = f.label :college_id, :class => 'control-label'
      .controls= f.number_field :college_id, :class => 'text_field '
    .control-group
      = f.label :data, :class => 'control-label'
      .controls= f.text_field :data, :class => 'text_field '


    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        bookings_path, :class => 'btn'
