- provide(:title, 'bookings')
- model_class = Booking
.page-header


.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_booking_path
    %ul.nav.pull-right
      %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"


%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th= code
      %th= schedule 
      %th= customer 
      %th= payment 
      %th= warranty 
      %th= status 
      %th= user 
      %th= college 
      %th= data 
      %th 
  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.code 
        %td= booking.schedule_id 
        %td= booking.customer_id 
        %td= booking.payment_id 
        %td= booking.status 
        %td= booking.user_id 
        %td= booking.college_id 
        %td= booking.data
        = render :partial => 'action_menu', :locals => { :booking => booking } 


