- provide(:title, 'bookings')
- model_class = Booking
.page-header
  %h1=t 'activerecord.attributes.booking.list'


.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_booking_path
    %ul.nav.pull-right
      %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"


%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th{width: '15%'}=t 'activerecord.attributes.booking.code'
      %th{width: '15%'}=t 'activerecord.attributes.booking.schedule_id'
      %th{width: '20%'}=t 'activerecord.attributes.booking.customer_id'
      %th{width: '15%'}=t 'activerecord.attributes.booking.payment_id'
      %th{width: '20%'}=t 'activerecord.attributes.booking.warranty_id'
      %th{width: '15%'}Status 
      /%th User 
      /%th College 
      /%th Data 
      %th 
  %tbody
    = render "index_search"
    - @bookings.each do |booking|
      %tr
        %td= booking.code 
        %td= booking.schedule_id 
        %td= booking.customer_id 
        %td= booking.payment_id 
        %td= booking.warranty_id
        %td= booking.status 
        /%td= booking.user_id 
        /%td= booking.college_id 
        /%td= booking.data
        = render :partial => 'action_menu', :locals => { :booking => booking } 


