<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @booking.code %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @booking.schedule_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @booking.payment_id %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @booking.warranty_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>College:</strong>
  <%= @booking.college_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @booking.data %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
