- provide(:title, 'schedules')
- model_class = Schedule
.page-header
  %h1=t 'activerecord.attributes.schedule.list'

.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_schedule_path
    %ul.nav.pull-right
      %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"

%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th{width: '25%'}=t 'activerecord.attributes.schedule.course_id'
      %th{width: '15%'}=t 'activerecord.attributes.schedule.scheduled_on'
      %th{width: '20%'}=t 'activerecord.attributes.schedule.location_id'
      %th{width: '20%'}=t 'activerecord.attributes.schedule.lecturer_id'
      %th{width: '10%'}=t 'activerecord.attributes.schedule.max_people'
      %th{width: '10%'} Status
      /%th=t 'helpers.user_id'
      /%th=t 'helpers.college_id'
      /%th=t 'helpers.data'
      %th
  %tbody
    = render "index_search"
    - @schedules.each do |schedule|
      %tr
        %td= schedule.try(:schedulecourse).try(:topic)
        %td
          = schedule.try(:start_on).try(:strftime, '%d %b %Y')
          = schedule.end_on.nil? ? "" : " - "+schedule.try(:end_on).try(:strftime, '%d %b %Y')
        %td= schedule.try(:schedulelocation).try(:name)
        %td= schedule.try(:schedulelecturer).try(:name)
        %td= schedule.max_people 
        %td= schedule.status 
        /%td= schedule.user_id 
        /%td= schedule.college_id 
        /%td= schedule.data 
        = render :partial => 'action_menu', :locals => { :schedule => schedule }



