- provide(:title, 'schedules')
- model_class = Schedule
.page-header


.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_schedule_path
    %ul.nav.pull-right
      %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th= Course
      %th= Scheduled on
      %th= Location
      %th= Lecturer by
      %th= Max people
      %th= Status
      %th= User
      %th= College
      %th= Data
      %th
  %tbody
    - @schedules.each do |schedule|
      %tr
        %td= schedule.course_id 
        %td= schedule.scheduled_on 
        %td= schedule.location_id 
        %td= schedule.lecturer_by 
        %td= schedule.max_people 
        %td= schedule.status 
        %td= schedule.user_id 
        %td= schedule.college_id 
        %td= schedule.data 
        = render :partial => 'action_menu', :locals => { :schedule => schedule }



