<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @schedule.course_id %>
</p>

<p>
  <strong>Scheduled on:</strong>
  <%= @schedule.scheduled_on %>
</p>

<p>
  <strong>Location:</strong>
  <%= @schedule.location_id %>
</p>

<p>
  <strong>Lecturer by:</strong>
  <%= @schedule.lecturer_by %>
</p>

<p>
  <strong>Max people:</strong>
  <%= @schedule.max_people %>
</p>

<p>
  <strong>Status:</strong>
  <%= @schedule.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @schedule.user_id %>
</p>

<p>
  <strong>College:</strong>
  <%= @schedule.college_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @schedule.data %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
