.container{:style => "padding-left: 60px;"}
  = form_for @customer, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    .control-group
      = f.label  t('activerecord.attributes.customer.id_no'), :class => 'control-label'
      .controls= f.text_field :id_no, :class => 'text_field '

    .control-group
      = f.label  t('activerecord.attributes.customer.name'), :class => 'control-label'
      .controls= f.text_field :name, :class => 'text_field input-xxlarge'

    .control-group
      = f.label t('activerecord.attributes.customer.email'), :class => 'control-label'
      .controls= f.text_field :email, :class => 'text_field input-xxlarge'

    .control-group
      = f.label  t('activerecord.attributes.customer.phone'), :class => 'control-label'
      .controls= f.text_field :phone, :class => 'text_field input-xxlarge'

    .control-group
      = f.label  t('activerecord.attributes.customer.corporate'), :class => 'control-label'
      .controls
        .col-sm-1= f.check_box :corporate, :id => 'is_checked'
        .col-sm-3#span_displaylist= f.collection_select :company_id, Company.all, :id, :name, :include_blank => (t 'helpers.select_company'), :class => 'selectpicker'

    .control-group
      = f.label  t('helpers.user_id'), :class => 'control-label'
      .controls= f.number_field :user_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label  t('helpers.college_id'), :class => 'control-label'
      .controls= f.number_field :college_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label  t('helpers.data'), :class => 'control-label'
      .controls= f.text_field :data, :class => 'text_field input-xxlarge', :readonly => 'readonly'


    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        customers_path, :class => 'btn'

/ 
/ :javascript
/ 
/ $(document).ready(function(){
/   $("input[id='is_checked']").change(function() {  
/     if($('#is_checked').is(':checked')) { 
/       $("#span_displaylist").show("highlight"); 
/     }else{
/       $("#span_displaylist").hide(""); 
/     }
/   });
/   $("input[id='is_checked']").each(function() {  
/     if($('#is_checked').is(':checked')) { 
/       $("#span_displaylist").show("highlight"); 
/     }else{
/       $("#span_displaylist").hide(""); 
/     }
/   });
/ });  
