.container{:style => "padding-left: 60px;"}
  = form_for @customer, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    
    .control-group
      = f.label  t('activerecord.attributes.customer.name'), :class => 'control-label'
      .controls= f.text_field :name, :class => 'text_field input-xxlarge mandatory'

    .control-group
      = f.label  t('activerecord.attributes.customer.id_no'), :class => 'control-label'
      .controls
        = f.text_field :id_no, :class => 'text_field mandatory'
        .small
          =t('activerecord.attributes.customer.armed_force_no_mykad')
          &nbsp;(Sample: 800101012256 or 8011)
      
    .control-group
      = f.label t('activerecord.attributes.customer.position'), :class => 'control-label'
      .controls= f.text_field :position, :class => 'text_field input-xxlarge'   

    .control-group
      = f.label  t('activerecord.attributes.customer.phone'), :class => 'control-label'
      .controls= f.text_field :phone, :class => 'text_field input-xxlarge'
       
    .control-group
      = f.label t('activerecord.attributes.customer.email'), :class => 'control-label'
      .controls= f.text_field :email, :class => 'text_field input-xxlarge'
 
    .control-group
      = f.label  t('activerecord.attributes.customer.corporate'), :class => 'control-label'
      .controls
        .col-sm-1= f.check_box :corporate, :id => 'is_checked'
        .col-sm-3#span_displaylist
          = f.select("company_id", options_for_select(Company.company_collection, @customer.company_id), :include_blank => (t 'select'),  class: 'selectpicker')
    .control-group#span_navy_apmm_rank
      = f.label t('activerecord.attributes.customer.rank_id'), :class => 'control-label'
      .controls
        = f.select("rank_id", grouped_options_for_select(Rank.groupped_rank, @customer.rank_id), :class => 'selectpicker')
        .small
          =t('activerecord.attributes.customer.armed_force_personnel')

    .control-group
      = f.label  t('helpers.user_id'), :class => 'control-label'
      .controls= f.number_field :user_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label  t('helpers.college_id'), :class => 'control-label'
      .controls= f.number_field :college_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label  t('helpers.data'), :class => 'control-label'
      .controls= f.text_field :data, :class => 'text_field input-xxlarge', :readonly => 'readonly'


    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        customers_path, :class => 'btn'

:javascript
  
  $(document).ready(function(){
    ranks = $('#customer_rank_id').html();
    $("#customer_company_id").change(function(){
      company=$("#customer_company_id :selected").text()
      if (company.indexOf("Tentera Laut")!=-1 || company.indexOf("Agensi Penguatkuasaan Maritim")!=-1)
      { 
        escaped_company=company.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1')
        options = $(ranks).filter("optgroup[label='"+escaped_company+"']").html();
        if(options)
        {  $('#customer_rank_id').html(options); }
        $("#span_navy_apmm_rank").show();
      }
      else
      { $("#span_navy_apmm_rank").hide();}
    });

    $("#customer_company_id").each(function(){
      company=$("#customer_company_id :selected").text()
      if (company.indexOf("Tentera Laut")!=-1 || company.indexOf("Agensi Penguatkuasaan Maritim")!=-1)
      { 
        escaped_company=company.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1')
        options = $(ranks).filter("optgroup[label='"+escaped_company+"']").html();
        if(options)
        {  $('#customer_rank_id').html(options); }
        $("#span_navy_apmm_rank").show();
      }
      else
      { $("#span_navy_apmm_rank").hide();}
    });
  });

/ 
/ :javascript
/ 
/ $(document).ready(function(){
/   $("input[id='is_checked']").change(function() {  
/     if($('#is_checked').is(':checked')) { 
/       $("#span_displaylist").show("highlight"); 
/     }else{
/       $("#span_displaylist").hide(""); 
/     }
/   });
/   $("input[id='is_checked']").each(function() {  
/     if($('#is_checked').is(':checked')) { 
/       $("#span_displaylist").show("highlight"); 
/     }else{
/       $("#span_displaylist").hide(""); 
/     }
/   });
/ });  
