= search_form_for @search, url: customers_path, class: "form-inline" do |f|
  %tr.search_row{style: "display: none;"}
    %td= f.text_field :id_no_cont, :class => "form-control"
    %td= f.text_field :name_cont, :class => "form-control"
    %td= f.text_field :email_cont,:class => "form-control"
    %td= f.text_field :phone_cont,:class => "form-control"
    %td= f.text_field :corporate_eq, :class => "form-control"
    %td
      .input-group
        = f.select :company_id_eq, [['All records', '']]+Company.all.pluck(:name, :id).compact, :class => "selectpicker"
        %span.input-group-btn
          %button.btn.btn-sm.btn-default.right{:type => "submit"}
            %i.fa.fa-search.fa-fw
    %td &nbsp;