- provide(:title, 'Company')
- model_class = Company
.page-header


.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_company_path
    %ul.nav.pull-right
      %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"

%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th= company_code
      %th= name
      %th= address
      %th= phone
      %th= email
      %th= fax
      %th= user
      %th= college
      %th= data
      %th
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.company_code
        %td= company.name
        %td= company.address
        %td= company.phone
        %td= company.email
        %td= company.fax
        %td= company.user_id
        %td= company.college_id
        %td= company.data
        = render :partial => 'action_menu', :locals => { :company => company }

