- provide(:title, 'Company')
- model_class = Company
.page-header
  %h1=t 'activerecord.attributes.company.list'
%p#notice=notice
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_company_path
    %ul.nav.pull-right
      %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"

%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th{width: "8%"}=sort_link @search, :company_code, t('activerecord.attributes.company.company_code')
      %th{width: "20%"}=sort_link @search, :name, t('activerecord.attributes.company.name')
      %th{width: "28%"}=t 'activerecord.attributes.company.address'
      %th{width: "12%"}=sort_link @search, :phone, t('activerecord.attributes.company.phone')
      %th{width: "12%"}=sort_link @search, :fax, t('activerecord.attributes.company.fax')
      %th{width: "20%"}=sort_link @search, :email, t('activerecord.attributes.company.email')
      /%th User
      /%th College
      /%th Data
      %th
  %tbody
    = render "index_search"
    - @companies.each do |company|
      %tr
        %td= company.company_code
        %td= company.name
        %td= company.address
        %td= company.phone
        %td= company.fax
        %td= company.email
        /%td= company.user_id
        /%td= company.college_id
        /%td= company.data
        = render :partial => 'action_menu', :locals => { :company => company }

