<p id="notice"><%= notice %></p>

<p>
  <strong>Booking:</strong>
  <%= @payment.booking_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @payment.customer_id %>
</p>

<p>
  <strong>Method:</strong>
  <%= @payment.method %>
</p>

<p>
  <strong>Auth code:</strong>
  <%= @payment.auth_code %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Confirmed by:</strong>
  <%= @payment.confirmed_by %>
</p>

<p>
  <strong>Confirmed on:</strong>
  <%= @payment.confirmed_on %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>College:</strong>
  <%= @payment.college_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @payment.data %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
