.container{:style => "padding-left: 60px;"}
  = form_for @course, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    .control-group
      = f.label :code, :class => 'control-label'
      .controls= f.text_field :code, :class => 'text_field '

    .control-group
      = f.label :category, :class => 'control-label'
      .controls= f.text_field :category, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :topic, :class => 'control-label'
      .controls= f.text_field :topic, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :description, :class => 'control-label'
      .controls= f.text_field :description, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :fee, :class => 'control-label'
      .controls= f.text_field :fee, :class => 'text_field '

    .control-group
      = f.label :duration, :class => 'control-label'
      .controls= f.number_field :duration, :class => 'text_field '

    .control-group
      = f.label :duration_type, :class => 'control-label'
      .controls= f.text_field :duration_type, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :user_id, :class => 'control-label'
      .controls= f.number_field :user_id, :class => 'text_field'

    .control-group
      = f.label :college_id, :class => 'control-label'
      .controls= f.number_field :college_id, :class => 'text_field '

    .control-group
      = f.label :data, :class => 'control-label'
      .controls= f.text_field :data, :class => 'text_field input-xxlarge'


    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        courses_path, :class => 'btn'


