.container{:style => "padding-left: 60px;"}
  = form_for @course, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    .control-group
      = f.label  t('activerecord.attributes.course.code'), :class => 'control-label'
      .controls= f.text_field :code, :class => 'text_field '

    .control-group
      = f.label  t('activerecord.attributes.course.owner'), :class => 'control-label'
      .controls= f.collection_select :owner, Company.all.order(name: :asc), :id, :name, :include_blank => (t 'helpers.select'), :class => 'selectpicker'

    .control-group
      = f.label  t('activerecord.attributes.course.organizer'), :class => 'control-label'
      .controls= f.collection_select :organizer, Company.all.order(name: :asc), :id, :name, :include_blank => (t 'helpers.select'), :class => 'selectpicker'

    .control-group
      = f.label  t('activerecord.attributes.course.category'), :class => 'control-label'
      .controls= f.text_field :category, :class => 'text_field input-xxlarge'

    .control-group
      = f.label t('activerecord.attributes.course.topic'), :class => 'control-label'
      .controls= f.text_field :topic, :class => 'text_field input-xxlarge'

    .control-group
      = f.label  t('activerecord.attributes.course.description'), :class => 'control-label'
      .controls= f.text_field :description, :class => 'text_field input-xxlarge'

    .control-group
      = f.label  t('activerecord.attributes.course.fee'), :class => 'control-label'
      .controls= f.text_field :fee, :class => 'text_field '

    .control-group
      = f.label  t('activerecord.attributes.course.duration'), :class => 'control-label'
      .controls
        = f.number_field :duration, :class => 'text_field '
        = f.select :duration_type, DropDown::DURATION_TYPE, :include_blank => (t 'helpers.select')

    .control-group
      = f.label  t('helpers.user_id'), :class => 'control-label'
      .controls= f.number_field :user_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label  t('helpers.college_id'), :class => 'control-label'
      .controls= f.number_field :college_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label  t('helpers.data'), :class => 'control-label'
      .controls= f.text_field :data, :class => 'text_field input-xxlarge', :readonly => 'readonly'


    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        courses_path, :class => 'btn'


