- provide(:title, 'Course')
- model_class = Course
.page-header


.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_course_path
    %ul.nav.pull-right
      %li= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th= Code
      %th= Category
      %th= Topic
      %th= Description
      %th= Fee
      %th= Duration
      %th= Duration type
      %th= User
      %th= College
      %th= Data
      %th
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.code
        %td= course.category
        %td= course.topic
        %td= course.description
        %td= course.fee
        %td= course.duration 
        %td= course.duration_type
        %td= course.user_id
        %td= course.college_id
        %td= course.data
        = render :partial => 'action_menu', :locals => { :course => course }



