<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @course.topic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @course.fee %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Duration type:</strong>
  <%= @course.duration_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user_id %>
</p>

<p>
  <strong>College:</strong>
  <%= @course.college_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @course.data %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
