.container{:style => "padding-left: 60px;"}
  = form_for @lecturer, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    .control-group
      = f.label (t 'activerecord.attributes.lecturer.name'), :class => 'control-label'
      .controls= f.text_field :name, :class => 'text_field input-xxlarge'

    .control-group
      = f.label (t 'activerecord.attributes.lecturer.mykadno'), :class => 'control-label'
      .controls
        = f.text_field :mykadno, :class => 'text_field'
        .small
          =t('activerecord.attributes.lecturer.armed_force_no_mykad')
          &nbsp;(Sample: 800101012256 or 8011)
        
    .control-group
      = f.label (t 'activerecord.attributes.lecturer.phone'), :class => 'control-label'
      .controls
        = f.text_field :phone, :class => 'text_field'
        
    .control-group
      = f.label (t 'activerecord.attributes.lecturer.email'), :class => 'control-label'
      .controls
        = f.text_field :email, :class => 'text_field'
        

    .control-group
      = f.label (t 'activerecord.attributes.lecturer.rate'), :class => 'control-label'
      .controls
        = f.text_field :rate, :class => 'text_field'  
        .small=t 'activerecord.attributes.lecturer.rate_currency'

    .control-group
      = f.label (t 'activerecord.attributes.lecturer.position'), :class => 'control-label'
      .controls= f.text_field :position, :class => 'text_field'

      .control-group
      = f.label (t 'activerecord.attributes.lecturer.address'), :class => 'control-label'
      .controls= f.text_area :address, :class => 'text_field input-xxlarge' 

    .control-group
      = f.label (t 'activerecord.attributes.lecturer.qualifications'), :class => 'control-label'
      .controls= f.text_area :qualifications, :class => 'text_field input-xxlarge' 

    .control-group
      = f.label (t 'activerecord.attributes.lecturer.experiences'), :class => 'control-label'
      .controls= f.text_area :experiences, :class => 'text_field input-xxlarge' 

    .control-group
      = f.label (t 'helpers.user_id'), :class => 'control-label'
      .controls= f.number_field :user_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label (t 'helpers.college_id'), :class => 'control-label'
      .controls= f.number_field :college_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label (t 'helpers.data'), :class => 'control-label'
      .controls= f.text_field :data, :class => 'text_field', :readonly => 'readonly'



    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        lecturers_path, :class => 'btn'
