- provide(:title, 'Lecturers')
- model_class = Lecturer
.page-header
  %h1=t 'activerecord.attributes.lecturer.list'


.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_lecturer_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"


%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th{width: "30%"}=t 'activerecord.attributes.lecturer.name'
      %th{width: "10%"}=t 'activerecord.attributes.lecturer.mykadno'
      %th{width: "20%"}=t 'activerecord.attributes.lecturer.position'
      %th{width: "8%"}=t 'activerecord.attributes.lecturer.rate'
      %th{width: "16%"}=t 'activerecord.attributes.lecturer.qualifications'
      %th{width: "16%"}=t 'activerecord.attributes.lecturer.experiences'
      /%th=t 'activerecord.attributes.lecturer.address'
      /%th User
      /%th College
      /%th Data
      %th
  %tbody
    = render "index_search"
    - @lecturers.each do |lecturer|
      %tr
        %td= lecturer.name
        %td= lecturer.mykadno
        %td= lecturer.position
        %td= lecturer.rate.nil? ? "-" : "RM "+(sprintf("%.2f", lecturer.rate)).to_s
        %td= lecturer.qualifications.to_s.truncate(29)
        %td= lecturer.experiences.to_s.truncate(28)
        /%td= lecturer.address
        /%td= lecturer.user_id
        /%td= lecturer.college_id
        /%td= lecturer.data
        = render :partial => 'action_menu', :locals => { :lecturer => lecturer }

