<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lecturer.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @lecturer.details %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @lecturer.rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @lecturer.user_id %>
</p>

<p>
  <strong>College:</strong>
  <%= @lecturer.college_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @lecturer.data %>
</p>

<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %>
