.container{:style => "padding-left: 60px;"}
  = form_for @location, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object

    /.control-group
    /  = f.label  t('activerecord.attributes.location.region'), :class => 'control-label'
    /  .controls= f.select :region, DropDown::REGION,:include_blank => (t 'helpers.select'),  :class => 'selectpicker'

    .control-group
      = f.label  t('activerecord.attributes.location.name'), :class => 'control-label'
      .controls= f.text_field :name, :class => 'text_field mandatory'

    .control-group
      = f.label  t('activerecord.attributes.location.description'), :class => 'control-label'
      .controls= f.text_field :description, :class => 'text_field input-xxlarge'

    .control-group
      = f.label  t('helpers.user_id'), :class => 'control-label'
      .controls= f.number_field :user_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label  t('helpers.college_id'), :class => 'control-label'
      .controls= f.number_field :college_id, :class => 'text_field', :readonly => 'readonly'

    .control-group
      = f.label  t('helpers.data'), :class => 'control-label'
      .controls= f.text_field :data, :class => 'text_field input-xxlarge', :readonly => 'readonly'


    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        locations_path, :class => 'btn'


