- provide(:title, 'Location')
- model_class = Location
.page-header
  %h1=t('activerecord.attributes.location.list')

.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon(" ", text: (t 'actions.new'))), new_location_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "index_search_bar"


%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      /%th{width: "20%"}=t('activerecord.attributes.location.region')
      %th{width: "50%"}=sort_link @search, :name, t('activerecord.attributes.location.name')
      %th{width: "50%"}=sort_link @search, :descrption, t('activerecord.attributes.location.description')
      /%th User
      /%th College
      /%th Data
      %th
  %tbody
    = render "index_search"
    - @locations.each do |location|
      %tr
        /%td= location.try(:region_details)
        %td= location.name
        %td= location.description
        /%td= location.user_id
        /%td= location.college_id
        /%td= location.data
        = render :partial => 'action_menu', :locals => { :location => location }