<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @location.location_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user_id %>
</p>

<p>
  <strong>College:</strong>
  <%= @location.college_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @location.data %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
