!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %link{:href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", :rel=>"stylesheet"}                     |
    = javascript_include_tag :modernizr
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render 'layouts/shim'

  %body

    = render 'layouts/header'
    .row
      .col-md-10.col-md-offset-1
        - flash.each do |key, value|
          %div{:class => "alert alert-#{key}"}= value
        = yield
        = render 'layouts/footer'

